body {
  background: yellow;
}

.banner {
  background: blue;
}

h1{
  color: white;
  text-align: center;
  text-decoration: underline;
  text-transform: capitalize;
  /* border: 1px solid red; */
}

@media screen and (min-width: 768px) {
  body {
    background: red;
  }
  h1 {
    font-size: 3rem;
  }
}