* {
  margin: 0;
}

.navbar {
  height: 5rem;
  background: darkcyan;
}

.logo {
  font-size: 3rem;
  color: whitesmoke;
}

.hero {
  min-height: calc(100vh - 5rem);
  background: tomato;
  color: white;
}

.hero > span {
  color: wheat;
  font-size: 2rem;
}

.hero-btn {
  background: royalblue;
  color: antiquewhite;
}