*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.big-img {
  background: url(".//big_image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
}

.folder-img {
  background: url("./images/folder_image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
}