*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.big-img {
  background: linear-gradient(rgba(0,0,0, 0.4), rgba(0,0,0, 0.4)), url(".//big_image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* linear-gradient(rgba(0,0,0, 0.4), rgba(0,0,0, 0.4)),  */